<?xml version="1.0"?>
<launch>

    <include file="$(find lidar_imu_init)/launch/ouster_fast_lo_no_rviz.launch"/>
    <include file="$(find orb_slam3_ros_wrapper)/launch/mono_blt_front_without_play_and_rviz.launch"/>

    <node pkg="pose_synchronizer" name="pose_synchronizer" type="pose_synchronizer" output="screen" required="true">
        <param name="disable_pose_synchronizer" value = "true"/>
    </node>

</launch>
